body {
  font-family: Arial, Helvetica, sans-serif;
}

ul li:nth-child(3),
ul li:nth-child(4) {
  color: red;
}

ol li:nth-child(2),
ol li:nth-child(4) {
  font-size: 24px;
}

div > p:not(:last-child) {
  margin-bottom: 15px;
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px 0;
  box-sizing: border-box;
}

div > p:first-child {
  font-style: italic;
}

div:nth-of-type(2) > p:nth-child(2),
div:nth-of-type(2) > p:nth-child(3) {
  color: white;
}

button {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  border-radius: 18px;
  padding: 10px 18px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}

button:active {
  border-radius: 0;
  width: 200px;
  height: 150px;
}
